@use '../base/variables' as v;
@use '../base/mixins' as m;

.notavif.notwebp .header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/header.jpg');
}

.avif .header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/header.avif');
}

.webp.nofavif .header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/header.webp');
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.header {
    padding: v.$separacion 0;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include m.tablet { 
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        img {
            width: 30rem;
        }

        &:after {
            @include m.tablet {
                content: "";
                display: block;
                
                background-image: url('../img/header_guitarra.png');
                opacity: 0;
                background-repeat: no-repeat;
                background-position: bottom;
                background-position-x: 100%;
                height: 100%;
                width: 50%;
                position: absolute;
                right: 0;
                bottom: 0;
                top: 0;
                z-index: -1;
                animation-name: header__guitarra;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                animation-delay: 0.5s;
                animation-fill-mode: forwards;
            }
        }
    }
    
}

.nav {
    margin-top: v.$separacion;

    @include m.tablet { 
         margin-top: 0;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin: 0;
        a {
            padding: 0.5rem;
            display: block;
        }
    }

    &__element {
        color: v.$blanco;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 700;
    }
}

@keyframes header__guitarra {
    from {
        opacity: 0;
        right: 5rem;

    }
    to {
        opacity: 1;
        right: 0;
    }
}